<h1>Listing fundamental_daily_position_stats</h1>

<table>
  <tr>
    <th>Geo character</th>
    <th>Distance</th>
    <th>Reports</th>
    <th>Max vel</th>
    <th>Geo enabled</th>
    <th>Suspect</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fundamental_daily_position_stats.each do |fundamental_daily_position_stat| %>
  <tr>
    <td><%= fundamental_daily_position_stat.geo_character_id %></td>
    <td><%= fundamental_daily_position_stat.distance %></td>
    <td><%= fundamental_daily_position_stat.reports %></td>
    <td><%= fundamental_daily_position_stat.max_vel %></td>
    <td><%= fundamental_daily_position_stat.geo_enabled %></td>
    <td><%= fundamental_daily_position_stat.suspect %></td>
    <td><%= link_to 'Show', fundamental_daily_position_stat %></td>
    <td><%= link_to 'Edit', edit_fundamental_daily_position_stat_path(fundamental_daily_position_stat) %></td>
    <td><%= link_to 'Destroy', fundamental_daily_position_stat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daily position stat', new_fundamental_daily_position_stat_path %>
