<!DOCTYPE html>
<html>
<head>
  <title>Augmented Worlds Engine | Geo-Server</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=wrapper>
  
<header class="site-header">
  <span class="site-name">Augmented Worlds Engine | Geo-Server</span>
  <nav class="backend-user">  
    <ul>
      <% if signed_in_to_backend? %>
        <% if backend_staff? || backend_developer? %>
        <li><%= link_to current_backend_user.login, current_backend_user %></li>
        <% end %>
        <li><%= link_to I18n.translate("application.layout.signout"), signout_path %></li>
      <% else %>
        <li><%= link_to I18n.translate("application.layout.signin"), signin_path %></li>
      <% end %>
    </ul>
  </nav><br/>
  
  <nav class="site-navigation">  
  <% if signed_in_to_backend? && (backend_staff? || backend_developer?) %>
    <ul>
      <li><%= link_to I18n.translate("application.layout.backend.category"), backend_dashboard_path %></li>
      <li><%= link_to I18n.translate("application.layout.fundamental.category"), fundamental_characters_path %></li>
    </ul>
  <% end %>
  </nav>
    
  <nav class="site-navigation">  
  <% if signed_in_to_backend? && (backend_staff? || backend_developer?) %>
    <ul>
      <%= yield :backend_links %>
    </ul>
  <% end %>
  </nav>  
</header>
  
<section class="content">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  <%= content_for?(:content) ? yield(:content) : yield %>
</section>

<div class="push clear"></div>
</div>

<div class="clear">&nbsp;</div>

<footer class="site-footer">
  <%= debug(params) if Rails.env.development? && signed_in_to_backend? && backend_staff? %>
</footer>

<% if signed_in_to_backend? && backend_staff? %>
<div class="<%= Rails.env %>" id="environment"><%= Rails.env %></div>
<% end %>

</body>
</html>
